version: '2.4'

services:

  db:
    image: mcr.microsoft.com/mssql/server
    environment:
      - SA_PASSWORD=This1sthesapassword1
      - ACCEPT_EULA=Y

  api:
    environment:
      # note: environment variables take precedence over the same keys defined in user secrets volumes bind mounted below
      - ASPNETCORE_ENVIRONMENT=Development
      - TokenProvider__BaseUrl=http://host.docker.internal:5000
      - Db__ConnectionString=Server=db;Database=ImageGalleryDB;User Id=sa;Password=This1sthesapassword1;
    ports: 
      - "44351:80"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
    depends_on: 
      - db

  client:
    environment: 
      - ASPNETCORE_ENVIRONMENT=Development
      - ImageGalleryApi__BaseUrl=http://api
      - ImageGalleryApi__PublicBaseUrl=http://localhost:44351
      - TokenProvider__BaseUrl=http://host.docker.internal:5000
    ports:
      - "44355:80"

  sts:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - TokenProvider__BaseUrl=http://host.docker.internal:5000
      - GalleryOidcClient__BaseUrl=http://localhost:44355
    ports:
      - "5000:80"
